# VAR Model for Multi Variate Forecasting time Series
# as we predict disease type with its count gonna be in future

In [1]:
import mysql.connector
import pandas as pd
import inspect
import datetime
import os

In [2]:
def get_file_size(file_path):
    size = os.path.getsize(file_path)
    return size

Database connections

In [3]:
def mycon(db_name):
    try:
        mydb = mysql.connector.connect(host="192.168.45.29", user="bida_analysis_view", password="bida2022$",
                                       database="amrit_analysis", auth_plugin="mysql_native_password")
        return mydb
    except Exception as e:
        print(e)
        print("An error has been occured")

In [4]:
def create_parquet_file(file_name):
    start_time = datetime.datetime.now()
    print_process_time(start_time, inspect.stack()[0][3])
    #mydb = mycon("amrit_analysis")

    # mycursor = mydb.cursor()
    # query4 = '''SELECT * FROM amrit_analysis.all_res_of_obh_t_call_raw_data_datewise'''
    # query2 = '''
    # select state,rec_created_date,male as "male",female as "female",
    # transgender,not_disclosed,lt_1_year, 1_to_5_years, 6_to_10_years,
    # 11_to_20_years, 21_to_30_years, 31_to_40_years, 41_to_50_years,
    # 51_to_60_years, gt_60_years
    # from amrit_analysis.all_res_of_age_gen_t_bancall_count_datewise;
    # '''
    # mycursor.execute(query4)
    # df = pd.DataFrame(mycursor.fetchall())
    # df.columns = mycursor.column_names
    # #print(mycursor.column_names)
    # print(df.columns)
    # df.drop_duplicates(inplace=True)
    # print(df.shape)
    print_process_time(start_time, inspect.stack()[0][3])
    #df.to_parquet(f'{file_name}',engine='auto', compression='gzip', index=None)
    read_parquet_file(file_name)
    print_process_time(start_time, inspect.stack()[0][3])

In [5]:
def read_parquet_file(file_name):
    start_time = datetime.datetime.now()
    convert_bytes(get_file_size(file_name), 'MB')
    df = pd.read_parquet(f'{file_name}', engine='auto')
    print_process_time(start_time, inspect.stack()[0][3])
    print(df.columns)
   # print(df.describe())
    x=df.head()
    #print(f"{list(df.shape)}")
    #print_process_time(start_time, inspect.stack()[0][3])
    # print(df[df['state'] == 'BH'].head())
    # print(df[df['state'] == 'JH'].head())
    # print(df[df['state'] == 'HP'].head())
    # print(df[df['state'] == 'AS'].head())

In [6]:
def convert_bytes(size, unit=None):
    if unit == "KB":
        print('File size: ' + str(round(size / 1024, 3)) + ' Kilobytes')
    elif unit == "MB":
        print('File size: ' + str(round(size / (1024 * 1024), 3)) + ' Megabytes')
    elif unit == "GB":
        print('File size: ' + str(round(size / (1024 * 1024 * 1024), 3)) + ' Gigabytes')
    else:
        print('File size: ' + str(size) + ' bytes')
    return 0

In [7]:
def print_process_time(start_time=0,func_name=""):
    print(f"{datetime.datetime.now()-start_time} taken by {func_name}")

In [8]:
file_name = "D:\\Code_files\\parquet_files\\all_state_t_call_raw_data.parquet.gzip"
create_parquet_file(file_name)

0:00:00.247589 taken by create_parquet_file
0:00:00.249305 taken by create_parquet_file
File size: 99.733 Megabytes
0:00:03.535280 taken by read_parquet_file
Index(['state', 'date_created', 'ben_call_id', 'call_id', 'beneficiary_reg_id',
       'beneficiary_dist_name', 'beneficiary_gender', 'disease_summary',
       'algorithm', 'call_start_time', 'call_end_time', 'received_role_name',
       'call_type', 'date_created_fulltime', 'da_created_on_timestamp',
       'da_is_match', 'da_is_match_date', 'da_is_verified',
       'da_is_verified_date', 'da_is_verified_count'],
      dtype='object')
0:00:03.997286 taken by create_parquet_file

# DATA PRE-PROCESSING

In [9]:
df = pd.read_parquet(f'{file_name}', engine='auto')
# print((df[df['date_created']=='2019-10-21']) & (df[df['disease_summary']=='fever']))
df.set_index(['date_created'],inplace=True)
df.head()

,state,ben_call_id,call_id,beneficiary_reg_id,beneficiary_dist_name,beneficiary_gender,disease_summary,algorithm,call_start_time,call_end_time,received_role_name,call_type,date_created_fulltime,da_created_on_timestamp,da_is_match,da_is_match_date,da_is_verified,da_is_verified_date,da_is_verified_count
date_created,,,,,,,,,,,,,,,,,,,
2019-10-21,BH,18,1571661343.7900000000,2.0,Patna,Male,None,None,2019-10-21 18:10:01,None,HAO,Counselling Officer,2019-10-21 18:05:56,2022-08-16 21:20:05,0,0,0,0,0
2019-10-21,BH,18,1571661343.7900000000,2.0,Patna,Male,None,None,2019-10-21 18:10:01,None,HAO,Counselling Officer,2019-10-21 18:05:56,2022-08-16 21:34:37,0,0,0,0,0
2019-10-21,BH,20,1571661673.8400000000,4.0,Aurangabad,Male,None,None,2019-10-21 18:12:41,None,HAO,Counselling Officer,2019-10-21 18:11:40,2022-08-16 21:34:53,0,0,0,0,0
2019-10-21,BH,22,1571661809.8800000000,3.0,Aurangabad,Male,None,None,2019-10-21 18:13:28,None,HAO,Counselling Officer,2019-10-21 18:13:09,2022-08-16 21:34:53,0,0,0,0,0
2019-10-21,BH,23,1571661851.9000000000,4.0,Aurangabad,Male,None,None,2019-10-21 18:13:56,None,HAO,Counselling Officer,2019-10-21 18:13:37,2022-08-16 21:34:53,0,0,0,0,0

In [10]:
df['algorithm'].isnull().sum()

3828804

In [11]:
df['disease_summary'].isnull().sum()

1770289

In [12]:
#taking a new dataFrame to Drop columns as per requirements
df1=pd.DataFrame(df)
#dropped 12 columns
df1=df1.drop(columns=['da_is_verified_count','da_is_verified_date','da_is_verified','da_is_match_date','da_is_match','da_created_on_timestamp','date_created_fulltime','call_start_time','call_end_time','algorithm','beneficiary_reg_id','ben_call_id'],axis=1)

In [13]:
df1.isnull().sum()

state                          0
call_id                        0
beneficiary_dist_name      26968
beneficiary_gender         21463
disease_summary          1770289
received_role_name             0
call_type                      0
dtype: int64

In [15]:
df1.describe()

,state,call_id,beneficiary_dist_name,beneficiary_gender,disease_summary,received_role_name,call_type
count,4229273,4229273,4202305,4207810,2458984,4229273,4229273
unique,4,3850046,109,4,50754,6,84
top,BH,,Latehar,Male,COVID-19,HYBRID HAO,Covid 19 Vaccine related
freq,1552004,239,240053,3366399,1032636,3620614,855822

In [17]:
df1['beneficiary_gender'].unique()

array(['Male', 'Female', None, 'Not disclosed', 'Transgender'],
      dtype=object)

In [19]:
df1.head()

,state,call_id,beneficiary_dist_name,beneficiary_gender,disease_summary,received_role_name,call_type
date_created,,,,,,,
2019-10-21,BH,1571661343.7900000000,Patna,Male,None,HAO,Counselling Officer
2019-10-21,BH,1571661343.7900000000,Patna,Male,None,HAO,Counselling Officer
2019-10-21,BH,1571661673.8400000000,Aurangabad,Male,None,HAO,Counselling Officer
2019-10-21,BH,1571661809.8800000000,Aurangabad,Male,None,HAO,Counselling Officer
2019-10-21,BH,1571661851.9000000000,Aurangabad,Male,None,HAO,Counselling Officer

In [27]:
df1['received_role_name'].unique()

array(['HAO', 'CO', 'MO', 'HYBRID HAO', 'SIO', 'Psychologist MH'],
      dtype=object)

In [ ]:
empty=df1[(df1['disease_summary']=='')].index
len(empty)